@model ColinaApplication.Data.Conexion.TBL_SOLICITUD
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Menu {
        @Scripts.Render("~/Content/Scripts/Tables/Data/menu")
    }*@



<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-toolbar" style="float: right; width: 7%;" onclick="return window.location.href = '../Solicitud/SeleccionarMesa' "><b>Atras</b></button>
        <h1 class="page-header"><i class="fa fa-columns"></i> Pedido </h1>
        @Html.HiddenFor(m => m.ID_MESA, new { @Id = "ID_MESA" })
        @Html.HiddenFor(m => m.ID, new { @Id = "ID" })
        @Html.HiddenFor(m => m.ESTADO_SOLICITUD, new { @Id = "ESTADO_SOLICITUD" })
        <input id="ID_PRODUCTO" type="hidden" />
        <input id="PRECIO_PRODUCTO" type="hidden" />
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="box-body" id="InfoMesa">

            </div>
            <div class="box-body table-responsive" id="InfoPrecios">

            </div>
        </div>
        <div class="col-md-8">
            <a class="AgregProd" href="#AgregaProducto" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-2x fa-plus-circle"></i> Agregar</a>
            <a class="AgregProd" href="#CambioMesa" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="CargaMesas()"> <i class="fa fa-2x fa-exchange"></i> Cambio</a>
            <div id="DivLlevar" style="display: none;">
                <a class="AgregProd" style="background-color: #e3a200; cursor: pointer;" onclick="AsignarLlevar()"> <i class="fa fa-2x fa-arrow-up"></i> Llevar</a>
            </div>
            <div id="DivAsignar" style="display: none">
                <a class="AgregProd" style="background-color:#5cb85c; cursor: pointer;" onclick="AsignarAsignaMesa()"> <i class="fa fa-2x fa-arrow-up"></i> Asignar</a>
            </div>
            @if (@Session["IdPerfil"].ToString() == "1")
            {
                <a class="AgregProd" style="background-color: #008dc9; cursor: pointer;" onclick="ConsumoInterno()"> <i class="fa fa-2x fa-users"></i> Interno</a>
            }
            <a class="AgregProd" style="cursor: pointer;" onclick="InhabilitarMesa()"> <i class="fa fa-2x fa-times"></i> Inhabilitar</a>
            <br />
            <br />
            <br />
            <div class="box-body" id="InfoProductos">

            </div>
        </div>
        <table class="" style="width: 100%;">
            <tr>
                <td colspan="6">
                    <h4><b>Observaciones: </b></h4>
                    @Html.TextAreaFor(m => m.OBSERVACIONES, new { @class = "form-control input-sm", id = "OBSERVACIONES", style = "margin-left:5px; width:100%; height:70px; max-width: 100%;" })
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <br /><br />
        <div class="col-md-3">
            <button id="GuardaDatosCliente" type="button" class="btn btn-primary" style="width: 90%; margin-left: 5%;" onclick="GuardarDatosCliente();"><i class="fa fa-2x fa-save"></i>&nbsp;&nbsp; Guardar Datos</button>
        </div>
        @if (@Session["IdPerfil"].ToString() == "1")
        {
            <div class="col-md-3">
                <button id="" type="button" class="btn btn-success" style="width: 90%; margin-left: 5%;" onclick="PagarFactura();"><i class="fa fa-2x fa-money"></i>&nbsp;&nbsp; Pagar</button>
            </div>
        }
        <div class="col-md-3">
            <button id="" type="button" class="btn btn-default" style="width: 90%; margin-left: 5%;" onclick="GeneraFactura();"><i class="fa fa-2x fa-list-alt"></i>&nbsp;&nbsp; Factura</button>
        </div>
        @if (@Session["IdPerfil"].ToString() == "1")
        {
            <div class="col-md-3">
                <button id="" type="button" class="btn btn-danger" style="width: 90%; margin-left: 5%;" onclick="CancelaPedido();"><i class="fa fa-2x fa-times"></i>&nbsp;&nbsp; Cancelar Pedido</button>
            </div>
        }
        <br /><br />
    </div>
</div>

<div id="CambioMesa" class="modal">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header" style="width:1000px; background-color:#006512;">
                <button type="button" id="CerrarModalCM" class="close" data-dismiss="modal" style="color: white;" onclick="CierraModalCM()"><i class="fa fa-times"></i></button>
                <h3 class="modal-title" style="color: white;"><i class="fa fa-exchange" aria-hidden="true" style="color: white;"></i><b> Cambio de mesa</b></h3>
            </div>
            <div class="modal-body" style="width:1010px;">
                <br />
                <div class="row">
                    <table class="table" style="width:950px; margin-left:25px; font-size: 16px;">
                        <tr>
                            <td ><b>Seleccione la nueva mesa:</b></td>
                        </tr>
                    </table>
                    <div id="ListaMesas" class="col-lg-offset-1" style="width:950px; margin-left:25px; font-size: 16px;">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="AgregaProducto" class="modal">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header" style="width:1000px; background-color:#006512;">
                <button type="button" id="CerrarModalAP" class="close" data-dismiss="modal" style="color: white;"><i class="fa fa-times"></i></button>
                <h3 class="modal-title" style="color: white;"><i class="fa fa-plus-circle" aria-hidden="true" style="color: white"></i><b> Agregar Productos</b></h3>
            </div>
            <div class="modal-body" style="width:1010px;">
                <br />
                <div class="row">
                    <div class="col-lg-offset-1" style="width:950px; margin-left:25px; font-size: 16px;">
                        <table class="table" style="background-color: #dcdcdc;">
                            <tr>
                                <td style="width: 25%;"><h4><b>Elija una categoria: </b></h4></td>
                            </tr>
                            <tr id="setCategoria">
                            </tr>
                        </table>
                        <br />
                        <table id="tableProductos" class="table" style="background-color: #dcdcdc; display: none">
                            <tr>
                                <td style="width: 25%;"><h4><b>Elija un producto: </b></h4></td>
                            </tr>
                            <tr id="setProducto">
                            </tr>
                        </table>
                        <br />
                        <table id="tableAdiciones" class="table" style="background-color: #dcdcdc; display: none">
                            <tr>
                                <td style="width: 2%;"><h4><b>Digite las adiciones (Acompañamientos, salsas, termino): </b></h4></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea id="Adiciones" class="form-control input-sm" style="margin-left: 5px; width: 100%; height: 70px; max-width: 100%;"></textarea>
                                </td>
                            </tr>
                        </table>

                        <div>
                            <h4><b>Cantidad: </b></h4>
                            <span class="input-group-btn" style="float: left;">
                                <button class="btn btn-warning" id="menos" type="button" onclick="menos()"><b>-</b></button>
                            </span>
                            <input type="text" style="width:50px;text-align: center; float: left; margin-left: 3%;" id="contador" class="form-control" value="1" min="1" readonly />
                            <span class="input-group-btn" style="float: left; margin-left: 1%;">
                                <button class="btn btn-warning" id="mas" type="button" onclick="mas()"><b>+</b></button>
                            </span>
                        </div>
                        <br />
                        <br />
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <button id="AgregaProductos" class="btn btn-success" style="width: 20%; margin-left: 40%;">Agregar</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var User = '@Session["IdUsuario"].ToString()';
        var IdPerfil = '@Session["IdPerfil"].ToString()';
        var urlListaCategorias = '@Url.Action("ListaCategorias", "Solicitud")';
        var urlListaProductos = '@Url.Action("ListaProductos", "Solicitud")';

    </script>

    <script src="~/ScriptsViews/Solicitud/Pedido.js?1.0.8"></script>
    <script src="~/ScriptsViews/Solicitud/PedidoSignalR.js?1.1.41"></script>



}










