@model ColinaApplication.Data.Conexion.TBL_SOLICITUD
@{
    ViewBag.Title = "Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Menu {
    @Scripts.Render("~/Content/Scripts/Tables/Data/menu")
}*@

@Styles.Render("~/Content/plugins/datatables/css")

<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-toolbar" style="float: right; width: 7%;" onclick="return window.location.href = '../Solicitud/SeleccionarMesa' "><b>Atras</b></button>
        <h1 class="page-header"><i class="fa fa-columns"></i> Pedido </h1>
        @Html.HiddenFor(m => m.ID_MESA, new { @Id = "ID_MESA" })  
        @Html.HiddenFor(m => m.ID, new { @Id = "ID" })        
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="box-body" id="InfoMesa">
                
            </div>
            <div class="box-body table-responsive" id="InfoPrecios">
                
            </div>
        </div>
        <div class="col-md-8">
            <a class="AgregProd" href="#AgregaProducto" data-toggle="modal" data-backdrop="static" data-keyboard="false">Agregar Producto</a>
            <br />
            <br />
            <br />
            <div class="box-body" id="InfoProductos">
                @*<table id="Tabla2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody id="ProductosMesa">
                        
                    </tbody>
                </table>*@
            </div>
        </div>
        <table class="" style="width: 100%;">
            <tr>
                <td colspan="6">
                    <h4><b>Observaciones: </b></h4>
                    @Html.TextAreaFor(m => m.OBSERVACIONES, new { @class = "form-control input-sm", id = "ObservacionesAsesor", style = "margin-left:5px; width:100%; height:70px; max-width: 100%;" })
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <br /><br />
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" style="width: 15%; margin-left: 43%;">Guardar</button>
        </div>
        <br /><br />
    </div>
</div>

<div id="AgregaProducto" class="modal">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header" style="width:1000px; background-color:#202020; ">
                <button type="button" class="close" data-dismiss="modal" style="color: white;"><i class="fa fa-times"></i></button>
                <h3 class="modal-title" style="color: white;"><i class="fa fa-plus-circle" aria-hidden="true" style="color:#006512;"></i> Agregar Productos</h3>
            </div>
            <div class="modal-body" style="width:1010px;">
                <br />
                <div class="row">
                    <div class="col-lg-offset-1" style="width:950px; margin-left:25px;">
                        <table class="table" style="width: 100%;">
                            <tr>
                                <td>
                                    <p>Elija una categoria: </p>
                                    <select id="Categoria" class="form-control input-sm" onchange="CargaSubProducto()">
                                        <option value="">--SELECCIONE--</option>
                                    </select>
                                </td>
                                <td><p>Elija un producto: </p>
                                    <select id="Subrpoductos" class="form-control input-sm" onchange="ConsultaComposicionSub();">
                                        <option value="">--SELECCIONE--</option>
                                    </select>
                                </td>
                                <td style="width: 200px;">
                                    <p><b>Cantidad Disponible: </b></p>
                                    <input id="CantidadDisponible" type="text" class="form-control input-sm" readonly="readonly" />
                                </td>
                                <td>
                                    <p><b>Cantidad: </b></p>
                                    <select id="SelectCantidadVender" onchange="ListarPlatosOpciones()" disabled class="form-control input-sm">
                                        <option value="">--SELECCIONE--</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><h3>Este Plato Contiene: </h3></td>
                            </tr>
                            <tr id="Composicion">
                                
                            </tr>
                            <tbody id="CantidadPlatos">
                                
                            </tbody>
                        </table>
                        <br />
                        <br />
                        <br />
                        <br />
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    <button id="AgregaSubproductos" class="btn btn-success" style="width: 20%; margin-left: 40%;">Agregar</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @Scripts.Render("~/Content/plugins/datatables/js")
    @*@Scripts.Render("~/Content/Scripts/Tables/Data")*@
    <script>
        var User = "2";
        var urlListaProductos = '@Url.Action("ListaProductos", "Solicitud")';
        var urlListaSubProductos = '@Url.Action("ListaSubProductos", "Solicitud")';
        var urlListaComposicionSubProductos = '@Url.Action("ListaComposicionSubProductos", "Solicitud")';
        var urlDatosElementoInventario = '@Url.Action("DatosElementoInventario", "Solicitud")';
        var urlListaPreciosSubproductos = '@Url.Action("ListaPreciosSubproductos", "Solicitud")';
        var urlConsultaComposicionSubProducto = '@Url.Action("ConsultaComposicionSubProducto", "Solicitud")'; 

    </script>
    
    <script src="~/ScriptsViews/Solicitud/Pedido.js?1.0.8"></script>
    <script src="~/ScriptsViews/Solicitud/PedidoSignalR.js?1.1.6"></script>
    
    

}










