@model ColinaApplication.Data.Clases.SuperViewModels

@{
    ViewBag.Title = "Gastos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["IdPerfil"].ToString() == "1")
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"><i class="fa fa-clipboard"></i> Nómina </h1>
        </div>
        <div class="col-md-12" style="padding: 10px; background-color: #eeeeee;">
            <div class="col-md-12" style="overflow-x:auto;">
                <br />
                <table class="table table-bordered table-hover TablaList" style=" width: 100%; border: 0px solid #dddddd; background-color: white;" data-page-length='100'>
                    <thead style="background-color: black; color: white;">
                        <tr>
                            <th>CALCULAR</th>
                            <th>ASIGNAR DIA</th>
                            <th>LIQUIDAR</th>
                            <th>ID</th>
                            <th>CEDULA</th>
                            <th>NOMBRE</th>
                            <th>CARGO</th>
                            <th>SUELDO X DIA</th>
                            <th>DIAS TRABAJADOS</th>
                            <th>PROPINAS</th>
                            <th>% GANANCIA PROPINAS</th>
                            <th>DEUDA CONSUMO INTERNO</th>
                            <th>DIAS TRABAJADOS</th>
                            <th>ULTIMA FECHA PAGO</th>
                            <th>TOTAL PAGAR</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Nomina.Count; i++)
                        {
                        <tr>
                            <td style="text-align: center;">
                                @if (Model.Nomina[i].FechasAsignadas.Count > 0)
                                {
                                    <button type="submit" class="btn btn-warning" onclick="CalcularSueldo('@Model.Nomina[i].Id')">
                                        <i class="fa fa-plus">&nbsp;</i><i class="fa fa-minus">&nbsp;</i><i class="fa fa-times">&nbsp;</i>
                                    </button>
                                }
                                else
                                {
                                    <div style="cursor:not-allowed" class="btn btn-default">
                                        <i class="fa fa-times">&nbsp;</i>
                                    </div>
                                }
                            </td>
                            <td style="text-align: center;">
                                <button type="submit" class="btn btn-success" onclick="AsignarDia('@Model.Nomina[i].Id')">
                                    <i class="fa fa-arrow-down">&nbsp;</i> Asignar
                                </button>
                            </td>
                            <td style="text-align: center;">
                                @if (Model.Nomina[i].FechasAsignadas.Count > 0)
                                {
                                    <button type="submit" class="btn btn-primary" onclick="Liquidar('@Model.Nomina[i].Id')">
                                        <i class="fa fa-money">&nbsp;</i><i class="fa fa-money">&nbsp;</i>
                                    </button>
                                }
                                else
                                {
                                    <div style="cursor:not-allowed" class="btn btn-default">
                                        <i class="fa fa-times">&nbsp;</i>
                                    </div>
                                }
                            </td>
                            <td>
                                @Model.Nomina[i].Id
                            </td>
                            <td>
                                @Model.Nomina[i].Cedula
                            </td>
                            <td>
                                @Model.Nomina[i].NombreUsuario
                            </td>
                            <td>
                                @Model.Nomina[i].Cargo
                            </td>
                            <td>
                                @for (int j = 0; j < Model.Nomina[i].SuledoDiario.Count; j++)
                                {
                                    <b>$@string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CO"), "{0:N2}", Model.Nomina[i].SuledoDiario[j])<label>,</label></b>
                                }
                            </td>
                            <td>
                                @Model.Nomina[i].DiasTrabajados
                            </td>
                            <td>
                                <b>$@string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CO"), "{0:N2}", Model.Nomina[i].Propinas)</b>
                            </td>
                            <td>
                                @Model.Nomina[i].PorcentajeGananciaPropina <label>%</label>
                            </td>
                            <td>
                                <b style="color: red">$@string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CO"), "{0:N0}", Model.Nomina[i].ConsumoInterno)</b>
                            </td>
                            <td>
                                @for (int j = 0; j < Model.Nomina[i].FechasAsignadas.Count; j++)
                                {

                                    @Model.Nomina[i].FechasAsignadas[j].ToShortDateString()<label>,</label>
                                }
                            </td>
                            <td>
                                @Model.Nomina[i].FechaPago
                            </td>
                            <td>
                                <b style="color: darkgreen">$@string.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CO"), "{0:N2}", Model.Nomina[i].TotalPagar)</b>
                            </td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <br />

        </div>
    </div>

    @section Scripts{
        <script>
        //var CierreCaja = '@TempData["CierraCaja"]';
        var urlAsignarDiaTrabajo = '@Url.Action("AsignarDiaTrabajo", "Ventas")';
        var urlCalcularPago = '@Url.Action("CalcularPago", "Ventas")';
        var urlLiquidarUsuario = '@Url.Action("LiquidarUsuario", "Ventas")';

        </script>

        <script src="~/ScriptsViews/Ventas/Gastos.js?1.0.6"></script>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" style="text-align: center;"><i class="fa fa-times"></i> No Autorizado </h1>
        </div>
        <div class="col-md-12">
            <h5 class="page-header" style="text-align: center;"> No tiene acceso a esta página </h5>
        </div>
        <br /><br /><br /><br /><br /><br />
    </div>
}


