@model ColinaApplication.Data.Clases.SuperViewModels

@{
    ViewBag.Title = "Ingresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["IdPerfil"].ToString() == "1" || Session["IdPerfil"].ToString() == "2")
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"><i class="fa fa-search-plus"></i> Ventas </h1>
        </div>
        <div class="col-md-12">
            @using (Html.BeginForm("CambiarEstadoCaja", "Ventas", FormMethod.Post, new { @style = "" }))
            {
                if (ViewBag.ultimaFecha != null)
                {
                    <div style="float: right;">

                        <h5>
                            <small>Ultima Fecha Cierre</small><i class="fa fa-2x fa-print" style="cursor: pointer; float: right;" onclick="reImprimir()"></i>
                            <br />
                            <b>@ViewBag.ultimaFecha</b>
                        </h5>

                    </div>
                }
                if (ViewBag.ultimoCierre == "CERRAR CAJA")
                {
                    <div style="float: right;">

                        <h5>
                            <i class="fa fa-2x fa-print" style="cursor: pointer; float: right;" onclick="ImprimirParcial()">
                                <b><small style="font-size: 16px; color:black; font-weight:bolder"> Cierre Parcial</small></b>
                            </i>
                            <br />
                        </h5>

                    </div>
                }

                <div style="float: right; padding: 10px;">
                    <input id="botonCierre" type="submit" name="Cierre" class="btn btn-info" style="font-weight: bold; " value="@ViewBag.ultimoCierre" />
                </div>
            }
        </div>
        <br /><br />
        <div class="col-md-12">
            <h3 class="page-header"><i class="fa fa-ticket"></i> Ultimas Facturas </h3>
            <div class="col-md-12" style="overflow-x:auto;">
                <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; background-color: white;">
                    <thead style="background-color: black; color: white;">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>NRO FACTURA</th>
                            <th>FECHA </th>
                            <th>TOTAL</th>
                            <th>NUMERO MESA </th>
                            <th>NOMBRE MESA </th>
                            <th>NOMBRE MESERO</th>
                            <th>ID CLIENTE</th>
                            <th>NOMBRE CLIENTE</th>
                            <th>ESTADO</th>
                            <th>OBSERVACIONES</th>
                            <th>OTROS COBROS</th>
                            <th>DESCUENTOS</th>
                            <th>SUBTOTAL</th>
                            <th>% IVA</th>
                            <th>IVA TOTAL</th>
                            <th>% CONSUMO</th>
                            <th>CONSUMO TOTAL</th>
                            <th>% SERVICIO</th>
                            <th>SERVICIO TOTAL</th>
                            <th>METODO PAGO</th>
                            <th>VOUCHER</th>
                            <th>EFECTIVO</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SolicitudesModel.Count > 0)
                        {
                            for (int i = 0; i < Model.SolicitudesModel.Count; i++)
                            {
                                <tr>
                                    <td style=" text-align: center;">
                                        <i class="fa fa-2x fa-print " style="cursor: pointer;" onclick="ReImprimirFactura('@Model.SolicitudesModel[i].NroFactura')"></i>
                                    </td>
                                    <td style=" text-align: center;">
                                        <i class="fa fa-2x fa-pencil " style="cursor: pointer;" onclick="EditarFactura('@Model.SolicitudesModel[i].NroFactura', '@Model.SolicitudesModel[i].OtrosCobros', '@Model.SolicitudesModel[i].Descuentos', '@Model.SolicitudesModel[i].PorcentajeServicio', '@Model.SolicitudesModel[i].Total', '@Model.SolicitudesModel[i].Subtotal')"></i>
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].NroFactura
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].FechaSolicitud
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].Total
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].NumeroMesa
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].NombreMesa
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].NombreMesero
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].IdCliente
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].NombreCliente
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].EstadoSolicitud
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].Observaciones
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].OtrosCobros
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].Descuentos
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].Subtotal
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].PorcentajeIVA
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].IVATotal
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].PorcentajeIConsumo
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].IConsumoTotal
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].PorcentajeServicio
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].ServicioTotal
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].MetodoPago
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].Voucher
                                    </td>
                                    <td>
                                        @Model.SolicitudesModel[i].Efectivo
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
                <br />
            </div>
            <br />
            <h3 class="page-header"><i class="fa fa-list-alt"></i> Editar Factura </h3>
            @using (Html.BeginForm("ActualizaFactura", "Ventas", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
            {
                <div id="DivFactura" class="col-md-6" style="float: inherit;">
                    <div class="col-md-12">
                        <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposFactura()"></i>
                        <br />
                    </div>
                    <div class="col-md-12">
                        <small><b>Nro Factura:</b></small>
                        @Html.TextBoxFor(x => x.SolicitudModel.NroFactura, new { @Id = "IdFactura", @class = "form-control input-sm", @style = "max-width: 100% !important;", @readonly = "readonly" })
                        
                    </div>
                    <div class="col-md-12">
                        <small><b>Otros Cobros:</b></small>
                        @Html.TextBoxFor(x => x.SolicitudModel.OtrosCobros, new { @Id = "OtrosCobros", Placeholder = "Digite otros cobros", @type = "number",
                       @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off", @onchange = "CalculosFactura()", @pattern = "[0-9]+"
                   })
                    </div>
                    <div class="col-md-12">
                        <small><b>Descuentos:</b></small>
                        @Html.TextBoxFor(x => x.SolicitudModel.Descuentos, new { @Id = "Descuentos", Placeholder = "Digite descuentos", @type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off", @onchange = "CalculosFactura()" })
                    </div>
                    <div class="col-md-12">
                        <small><b>Servicio %:</b></small>
                        @Html.TextBoxFor(x => x.SolicitudModel.PorcentajeServicio, new { @Id = "PorcentajeServicio", Placeholder = "Digite porcentaje de servicio", @type = "text", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off", @onchange = "CalculosFactura()", @onkeypress = "return soloNum(event)" })
                        @Html.HiddenFor(x => x.SolicitudModel.ServicioTotal, new { @Id = "ServicioTotal", Value = "" })
                    </div>
                    <div class="col-md-12">
                        <br />
                        <small><b>Total:</b></small>
                        @Html.LabelFor(x => x.SolicitudModel.Total, " ", new { @Id = "TotalCalc", @style = "color: white; font-weight: bold; font-size: 20px; padding: 5px; border-radius: 5px; background-color: #3776ff;" })
                        @Html.HiddenFor(x => x.SolicitudModel.Total, new { @Id = "Total", Value = "" })
                        @Html.HiddenFor(x => x.SolicitudModel.Subtotal, new { @Id = "Subtotal", Value = "" })
                    </div>
                </div>
                <br /><br />
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success" value="Guardar" />
                </div>
            }

        </div>

    </div>

    @section Scripts{
        <script>
            var CierreCaja = '@TempData["CierraCaja"]';
            var ValueCajaText = '@ViewBag.ultimoCierre';
            var urlreImprimir = '@Url.Action("ReImprimir", "Ventas")';
            var urlImprimirParcial = '@Url.Action("ImprimirParcial", "Ventas")';
            var ultimaFecha = '@ViewBag.ultimaFecha';
            var urlImprimirFactura = '@Url.Action("ImprimirFactura", "Ventas")';
            var Resultado = '@TempData["Resultado"]';
            var Posicion = '@TempData["Posicion"]';
        </script>

        <script src="~/ScriptsViews/Ventas/Ingresos.js?1.0.16"></script>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" style="text-align: center;"><i class="fa fa-times"></i> No Autorizado </h1>
        </div>
        <div class="col-md-12">
            <h5 class="page-header" style="text-align: center;"> No tiene acceso a esta página </h5>
        </div>
        <br /><br /><br /><br /><br /><br />
    </div>
}