@model ColinaApplication.Data.Clases.SuperViewModels

@{
    ViewBag.Title = "Configuraciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["IdPerfil"].ToString() == "1" || Session["IdPerfil"].ToString() == "2")
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header"><i class="fa fa-cogs"></i> Configuraciones </h1>
        </div>
        <div id="DivMesas" class="col-md-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Mesas </h3>
            @using (Html.BeginForm("AgregarEditarMesas", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
            {
                <div class="col-md-12" style="overflow-x:auto;">
                    <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; border: 0px solid #dddddd; background-color: white;" data-page-length='5'>
                        <thead style="background-color: black; color: white;">
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th># MESA</th>
                                <th>ID USUARIO</th>
                                <th>NOMBRE MESA</th>
                                <th>DESCRIPCIÓN</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Mesas.Count; i++)
                            {
                                <tr>
                                    <td style=" text-align: center;">
                                        <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarMesa('@Model.Mesas[i].ID', '@Model.Mesas[i].NUMERO_MESA', '@Model.Mesas[i].ID_USUARIO', '@Model.Mesas[i].NOMBRE_MESA', '@Model.Mesas[i].DESCRIPCION', '@Model.Mesas[i].ESTADO')"></i>
                                    </td>
                                    <td data_val="Elemento_@i">
                                        @Model.Mesas[i].ID
                                    </td>
                                    <td>
                                        @Model.Mesas[i].NUMERO_MESA
                                    </td>
                                    <td>
                                        @Model.Mesas[i].ID_USUARIO
                                    </td>
                                    <td>
                                        @Model.Mesas[i].NOMBRE_MESA
                                    </td>
                                    <td>
                                        @Model.Mesas[i].DESCRIPCION
                                    </td>
                                    <td>
                                        @Model.Mesas[i].ESTADO
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6" style="float: inherit;">
                    <div class="col-md-12">
                        <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposMesa()"></i>
                        <br />
                    </div>
                    <div class="col-md-12">
                        <small><b>Nombre Mesa:</b></small>
                        @Html.HiddenFor(x => x.MesasModel.ID, new { @Id = "IdMesa", Value = "" })
                        @Html.TextBoxFor(x => x.MesasModel.NOMBRE_MESA, new { @Id = "NombreMesa", Placeholder = "Digite el nombre de la mesa", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                    </div>
                    <div class="col-md-12">
                        <small><b># Mesa:</b></small>
                        @Html.TextBoxFor(x => x.MesasModel.NUMERO_MESA, new { @Id = "NumeroMesa", Placeholder = "Digite el número de la mesa", @type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                    </div>
                    <div class="col-md-12">
                        <small><b>Usuario Asiganar: </b></small>
                        @Html.DropDownListFor(x => x.MesasModel.ID_USUARIO, (List<SelectListItem>)ViewBag.listaUsuariosAdmin, "-- SELECCIONE --",
             new { @Id = "IdUsuarioMesa", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                    </div>
                    <div class="col-md-12">
                        <small><b>Descripción Mesa:</b></small>
                        @Html.TextBoxFor(x => x.MesasModel.DESCRIPCION, new { @Id = "DescripcionMesa", Placeholder = "Digite la descripcion de la mesa", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                    </div>
                    <div class="col-md-12">
                        <small><b>Estado:</b></small>
                        @Html.DropDownListFor(x => x.MesasModel.ESTADO, new List<SelectListItem>
                        {
                                new SelectListItem() {Text = "CERRADO", Value="CERRADO"},
                                new SelectListItem() {Text = "LIBRE", Value="LIBRE"},
                                new SelectListItem() {Text = "OCUPADO", Value="OCUPADO"},
                                new SelectListItem() {Text = "ESPERA", Value="ESPERA"},
                                new SelectListItem() {Text = "NO DISPONIBLE", Value="NO DISPONIBLE"},

                        },
             new { @Id = "EstadoMesa", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                    </div>
                    <br />
                    <div id="DivCategoria" class="col-md-12">
                        <input type="submit" class="btn btn-success" value="Guardar" />
                    </div>
                    <br />
                </div>
            }
        </div>

        @if (Session["IdPerfil"].ToString() == "1")
        {
            <div class="col-md-12">
                <h3 class="page-header"><i class="fa fa-th-list"></i> Inventarios </h3>
                @using (Html.BeginForm("AgregarEditarCategoria", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
                {
                    <div class="col-md-12">
                        <h4><b>Categorias </b></h4>
                    </div>
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; background-color: white; border: 0px solid #dddddd;" data-page-length='5'>
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>CATEGORIA</th>
                                    <th>ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Categorias.Count; i++)
                                {
                                    <tr>
                                        <td style=" text-align: center;">
                                            <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarCategoria('@Model.Categorias[i].ID', '@Model.Categorias[i].CATEGORIA', '@Model.Categorias[i].ESTADO')"></i>
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.Categorias[i].ID
                                        </td>
                                        <td>
                                            @Model.Categorias[i].CATEGORIA
                                        </td>
                                        <td>
                                            @Model.Categorias[i].ESTADO
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="float: inherit;">
                        <div class="col-md-12">
                            <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposCategoria()"></i>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <small><b>Nombre Categoria:</b></small>
                            @Html.HiddenFor(x => x.CategoriasModel.ID, new { @Id = "IdCategoria", Value = "" })
                            @Html.TextBoxFor(x => x.CategoriasModel.CATEGORIA, new { @Id = "NomCategoria", Placeholder = "Digite el nombre de la categoria", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Estado:</b></small>
                            @Html.DropDownListFor(x => x.CategoriasModel.ESTADO, new List<SelectListItem>
                            {
                                    new SelectListItem() {Text = "-- SELECCIONE --", Value=""},
                                    new SelectListItem() {Text = "ACTIVO", Value="ACTIVO"},
                                    new SelectListItem() {Text = "INACTIVO", Value="INACTIVO"}
                            },
                 new { @Id = "EstadoCategoria", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                        </div>
                        <br />
                        <div id="DivProductos" class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                        </div>
                        <br />
                    </div>
                }
                <br />
                @using (Html.BeginForm("AgregarEditarProducto", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
                {
                    <div class="col-md-12">
                        <h4><b>Productos </b></h4>
                    </div>
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; background-color: white; border: 0px solid #dddddd;" data-page-length='5'>
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>ID CATEGORIA</th>
                                    <th>FECHA_INGRESO</th>
                                    <th>PRODUCTO</th>
                                    <th>PRECIO</th>
                                    <th>CANTIDAD</th>
                                    <th>DESCRIPCION</th>
                                    <th>ID IMPRESORA</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Productos.Count; i++)
                                {
                                    <tr>
                                        <td style=" text-align: center;">
                                            <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarProducto('@Model.Productos[i].ID', '@Model.Productos[i].ID_CATEGORIA', '@Model.Productos[i].NOMBRE_PRODUCTO', '@Model.Productos[i].PRECIO', '@Model.Productos[i].CANTIDAD', '@Model.Productos[i].DESCRIPCION', '@Model.Productos[i].ID_IMPRESORA')"></i>
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.Productos[i].ID
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.Productos[i].ID_CATEGORIA
                                        </td>
                                        <td>
                                            @Model.Productos[i].FECHA_INGRESO
                                        </td>
                                        <td>
                                            @Model.Productos[i].NOMBRE_PRODUCTO
                                        </td>
                                        <td>
                                            @Model.Productos[i].PRECIO
                                        </td>
                                        <td>
                                            @Model.Productos[i].CANTIDAD
                                        </td>
                                        <td>
                                            @Model.Productos[i].DESCRIPCION
                                        </td>
                                        <td>
                                            @Model.Productos[i].ID_IMPRESORA
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="float: inherit;">
                        <div class="col-md-12">
                            <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposProductos()"></i>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <small><b>Categoria: </b></small>
                            @Html.HiddenFor(x => x.ProductosModel.ID, new { @Id = "IdProducto", Value = "" })
                            @Html.DropDownListFor(x => x.ProductosModel.ID_CATEGORIA, (List<SelectListItem>)ViewBag.listaCategoriasDDL, "-- SELECCIONE --",
                 new { @Id = "IdCategoriaProducto", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                        </div>
                        <div class="col-md-12">
                            <small><b>Nombre Producto:</b></small>
                            @Html.TextBoxFor(x => x.ProductosModel.NOMBRE_PRODUCTO, new { @Id = "NomProducto", Placeholder = "Digite el nombre del producto", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Precio Producto:</b></small>
                            @Html.TextBoxFor(x => x.ProductosModel.PRECIO, new { @Id = "PrecioProducto", Placeholder = "Digite el precio del producto", type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Cantidad a inventario:</b></small>
                            @Html.TextBoxFor(x => x.ProductosModel.CANTIDAD, new { @Id = "CantidadProducto", Placeholder = "Digite la cantidad existente", type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Descripcion:</b></small>
                            @Html.TextBoxFor(x => x.ProductosModel.DESCRIPCION, new { @Id = "DescripcionProducto", Placeholder = "Digite una descripción", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Impresora: </b></small>
                            @Html.DropDownListFor(x => x.ProductosModel.ID_IMPRESORA, (List<SelectListItem>)ViewBag.idImpresoraDDL, "-- SELECCIONE --",
                 new { @Id = "IdImpresoraProductos", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                        </div>
                        <br />
                        <div id="DivUsuarios" class="col-md-12">
                            <input type="submit" class="btn btn-primary" value="Guardar" />
                        </div>
                        <br />
                    </div>
                }
            </div>
            <div class="col-md-12">
                <h3 class="page-header"><i class="fa fa-user"></i> Usuarios </h3>
                @using (Html.BeginForm("AgregarEditarUsuarios", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
                {
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; border: 0px solid #dddddd; background-color: white;" data-page-length='5'>
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>CÉDULA</th>
                                    <th>NOMBRE</th>
                                    <th>CODIGO</th>
                                    <th>ID PERFIL</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Usuarios.Count; i++)
                                {
                                    <tr>
                                        <td style=" text-align: center;">
                                            <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarUsuario('@Model.Usuarios[i].ID', '@Model.Usuarios[i].CEDULA', '@Model.Usuarios[i].NOMBRE', '@Model.Usuarios[i].CONTRASEÑA', '@Model.Usuarios[i].ID_PERFIL')"></i>
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.Usuarios[i].ID
                                        </td>
                                        <td>
                                            @Model.Usuarios[i].CEDULA
                                        </td>
                                        <td>
                                            @Model.Usuarios[i].NOMBRE
                                        </td>
                                        <td>
                                            @Model.Usuarios[i].CONTRASEÑA
                                        </td>
                                        <td>
                                            @Model.Usuarios[i].ID_PERFIL
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="float: inherit;">
                        <div class="col-md-12">
                            <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposUsuario()"></i>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <small><b>Numero cédula:</b></small>
                            @Html.HiddenFor(x => x.UsuariosModel.ID, new { @Id = "IdUsuario", Value = "" })
                            @Html.TextBoxFor(x => x.UsuariosModel.CEDULA, new { @Id = "CedulaUsuario", Placeholder = "Digite el número de cédula", @type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off", Onblur = "ValidaCedula()" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Nombre:</b></small>
                            @Html.TextBoxFor(x => x.UsuariosModel.NOMBRE, new { @Id = "NombreUsuario", Placeholder = "Digite nombre del usuario", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Código:</b></small>
                            @Html.TextBoxFor(x => x.UsuariosModel.CONTRASEÑA, new { @Id = "CodigoUsuario", Placeholder = "Asigne un código al usuario", @type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off", Onblur = "ValidaCodigo()" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Perfíl: </b></small>
                            @Html.DropDownListFor(x => x.UsuariosModel.ID_PERFIL, (List<SelectListItem>)ViewBag.listaIdPerfilDDL, "-- SELECCIONE --",
                 new { @Id = "IdPerfilUsuario", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                        </div>
                        <br />
                        <div id="DivImpresoras" class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                        </div>
                        <br />
                    </div>
                }
            </div>

            <div class="col-md-12">
                <h3 class="page-header"><i class="fa fa-print"></i> Impresoras </h3>
                @using (Html.BeginForm("AgregarEditarImpresoras", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
                {
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; border: 0px solid #dddddd; background-color: white;" data-page-length='5'>
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>NOMBRE IMPRESORA</th>
                                    <th>DESCRIPCION</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Impresoras.Count; i++)
                                {
                                    <tr>
                                        <td style=" text-align: center;">
                                            <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarImpresora('@Model.Impresoras[i].ID', '@Model.Impresoras[i].NOMBRE_IMPRESORA', '@Model.Impresoras[i].DESCRIPCION')"></i>
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.Impresoras[i].ID
                                        </td>
                                        <td>
                                            @Model.Impresoras[i].NOMBRE_IMPRESORA
                                        </td>
                                        <td>
                                            @Model.Impresoras[i].DESCRIPCION
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="float: inherit;">
                        <div class="col-md-12">
                            <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposImpresora()"></i>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <small><b>Nombre Impresora:</b></small>
                            @Html.HiddenFor(x => x.ImpresorasModel.ID, new { @Id = "IdImpresora", Value = "" })
                            @Html.TextBoxFor(x => x.ImpresorasModel.NOMBRE_IMPRESORA, new { @Id = "NombreImpresora", Placeholder = "Digite el nombre de la impresora", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Descricpión:</b></small>
                            @Html.TextBoxFor(x => x.ImpresorasModel.DESCRIPCION, new { @Id = "DescripcionImpresora", Placeholder = "Digite la descripcion de la impresora", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <br />
                        <div id="DivImpuestos" class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                        </div>
                        <br />
                    </div>
                }
            </div>

            <div id="DivImpuestos" class="col-md-12">
                <h3 class="page-header"><i class="fa fa-money"></i> Impuestos </h3>
                @using (Html.BeginForm("AgregarEditarImpuestos", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
                {
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; border: 0px solid #dddddd; background-color: white;" data-page-length='5'>
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>IMPUESTO</th>
                                    <th>PORCENTAJE</th>
                                    <th>ESTADO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Impuestos.Count; i++)
                                {
                                    <tr>
                                        <td style=" text-align: center;">
                                            <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarImpuesto('@Model.Impuestos[i].ID', '@Model.Impuestos[i].NOMBRE_IMPUESTO', '@Model.Impuestos[i].PORCENTAJE', '@Model.Impuestos[i].ESTADO')"></i>
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.Impuestos[i].ID
                                        </td>
                                        <td>
                                            @Model.Impuestos[i].NOMBRE_IMPUESTO
                                        </td>
                                        <td>
                                            @Model.Impuestos[i].PORCENTAJE
                                        </td>
                                        <td>
                                            @Model.Impuestos[i].ESTADO
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="float: inherit;">
                        <div class="col-md-12">
                            <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposImpuesto()"></i>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <small><b>Nombre Categoria:</b></small>
                            @Html.HiddenFor(x => x.ImpuestosModel.ID, new { @Id = "IdImpuesto", Value = "" })
                            @Html.TextBoxFor(x => x.ImpuestosModel.NOMBRE_IMPUESTO, new { @Id = "NombreImpuesto", Placeholder = "Digite el nombre del impuesto", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Porcentaje:</b></small>
                            @Html.TextBoxFor(x => x.ImpuestosModel.PORCENTAJE, new { @Id = "PorcentajeImpuesto", Placeholder = "Digite el porcentaje", @type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Estado:</b></small>
                            @Html.DropDownListFor(x => x.ImpuestosModel.ESTADO, new List<SelectListItem>
                            {
                                    new SelectListItem() {Text = "-- SELECCIONE --", Value=""},
                                    new SelectListItem() {Text = "ACTIVO", Value="ACTIVO"},
                                    new SelectListItem() {Text = "INACTIVO", Value="INACTIVO"}
                            },
                 new { @Id = "EstadoImpuesto", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                        </div>
                        <br />
                        <div id="DivPerfiles" class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                        </div>
                        <br />
                    </div>
                }
            </div>

            <div class="col-md-12">
                <h3 class="page-header"><i class="fa fa-users"></i> Perfiles </h3>
                @using (Html.BeginForm("AgregarEditarPerfiles", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
                {
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; background-color: white; border: 0px solid #dddddd;" data-page-length='5'>
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>PERFIL</th>
                                    <th>PORCENTAJE SERVICIO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Perfiles.Count; i++)
                                {
                                    <tr>
                                        <td style=" text-align: center;">
                                            <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarPerfil('@Model.Perfiles[i].ID', '@Model.Perfiles[i].NOMBRE_PERFIL', '@Model.Perfiles[i].PORCENTAJE_PROPINA')"></i>
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.Perfiles[i].ID
                                        </td>
                                        <td>
                                            @Model.Perfiles[i].NOMBRE_PERFIL
                                        </td>
                                        <td>
                                            @Model.Perfiles[i].PORCENTAJE_PROPINA
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6" style="float: inherit;">
                        <div class="col-md-12">
                            <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposPerfil()"></i>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <small><b>Perfil:</b></small>
                            @Html.HiddenFor(x => x.PerfilesModel.ID, new { @Id = "IdPerfil", Value = "" })
                            @Html.TextBoxFor(x => x.PerfilesModel.NOMBRE_PERFIL, new { @Id = "NombrePerfil", Placeholder = "Digite el nombre del perfil", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Porcentaje Propina:</b></small>
                            @Html.TextBoxFor(x => x.PerfilesModel.PORCENTAJE_PROPINA, new { @Id = "PorcentajePropinaPerfil", Placeholder = "Digite el porcentaje de servicio", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <br />
                        <div id="DivNomina" class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                        </div>
                        <br />
                    </div>
                }
            </div>
            <div class="col-md-12">
                <h3 class="page-header"><i class="fa fa-chess"></i> Nómina </h3>
                @using (Html.BeginForm("AgregarEditarNomina", "Configuracion", FormMethod.Post, new { @style = "padding: 10px; background-color: #eeeeee;" }))
                {
                    <div class="col-md-12" style="overflow-x:auto;">
                        <table id="" class="table table-bordered table-hover TablaList" style=" width: 100%; background-color: white; border: 0px solid #dddddd;" data-page-length='5'>
                            <thead style="background-color: black; color: white;">
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>ID USUARIO SISTEMA</th>
                                    <th>ID PERFIL</th>
                                    <th>CEDULA</th>
                                    <th>NOMBRE</th>
                                    <th>CARGO</th>
                                    @*<th>SUELDO DIARIO</th>*@
                                    @*<th>DIAS TRABAJADOS</th>*@
                                    @*<th>PROPINAS</th>*@
                                    @*<th>ULTIMO DIA TRABAJADO</th>*@
                                    @*<th>FECHA PAGO</th>*@
                                    <th>FECHA NACIMIENTO</th>
                                    <th>DIRECCION RESIDENCIA</th>
                                    <th>TELEFONO</th>
                                    <th>ESTADO EMPLEADO</th>
                                    <th>FECHA ULTIMO PAGO/INGRESO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.NominaEmpleados.Count; i++)
                                {
                                    <tr>
                                        <td style=" text-align: center;">
                                            <i class="fa fa-pencil" style="cursor: pointer;" onclick="EditarNomina('@Model.NominaEmpleados[i].ID', '@Model.NominaEmpleados[i].ID_USUARIO_SISTEMA', '@Model.NominaEmpleados[i].ID_PERFIL', '@Model.NominaEmpleados[i].CEDULA', '@Model.NominaEmpleados[i].NOMBRE', '@Model.NominaEmpleados[i].CARGO', '@Model.NominaEmpleados[i].FECHA_NACIMIENTO.Value.ToString("yyyy-MM-dd")', '@Model.NominaEmpleados[i].DIRECCION_RESIDENCIA', '@Model.NominaEmpleados[i].TELEFONO', '@Model.NominaEmpleados[i].ESTADO', '@Model.NominaEmpleados[i].FECHA_PAGO')"></i>
                                        </td>
                                        <td data_val="Elemento_@i">
                                            @Model.NominaEmpleados[i].ID
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].ID_USUARIO_SISTEMA
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].ID_PERFIL
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].CEDULA
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].NOMBRE
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].CARGO
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].FECHA_NACIMIENTO.Value.ToString("yyyy-MM-dd")
                                        </td>

                                        <td>
                                            @Model.NominaEmpleados[i].DIRECCION_RESIDENCIA
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].TELEFONO
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].ESTADO
                                        </td>
                                        <td>
                                            @Model.NominaEmpleados[i].FECHA_PAGO
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <br /><br />
                    <div class="col-md-6" style="float: inherit;">
                        <div class="col-md-12">
                            <i class="fa fa-2x fa-trash-o" style="float: right; cursor: pointer;" onclick="LimpiaCamposNomina()"></i>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <small><b>Asociar a Usuario:</b></small>
                            @Html.HiddenFor(x => x.NominaEmpleadosModel.ID, new { @Id = "IdNomina", Value = "" })
                            @Html.DropDownListFor(x => x.NominaEmpleadosModel.ID_USUARIO_SISTEMA, (List<SelectListItem>)ViewBag.listaUsuariosSistemaDDL, "-- SELECCIONE --",
                 new { @Id = "IdUsuarioSistemaNomina", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Perfíl: </b></small>
                            @Html.DropDownListFor(x => x.NominaEmpleadosModel.ID_PERFIL, (List<SelectListItem>)ViewBag.listaIdPerfilDDL, "-- SELECCIONE --",
                 new { @Id = "IdPerfilNomina", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                        </div>
                        <div class="col-md-12">
                            <small><b>Cédula:</b></small>
                            @Html.TextBoxFor(x => x.NominaEmpleadosModel.CEDULA, new { @Id = "CedulaNomina", Placeholder = "Digite la cédula del usuario", @type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Nombre:</b></small>
                            @Html.TextBoxFor(x => x.NominaEmpleadosModel.NOMBRE, new { @Id = "NombreNomina", Placeholder = "Digite el nombre del usuario", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Cargo:</b></small>
                            @Html.TextBoxFor(x => x.NominaEmpleadosModel.CARGO, new { @Id = "CargoNomina", Placeholder = "Digite el cargo del usuario", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Fecha Nacimiento:</b></small>
                            @Html.TextBoxFor(x => x.NominaEmpleadosModel.FECHA_NACIMIENTO, new { @Id = "FechaNacimientoDiaNomina", Placeholder = "Fecha de nacimiento", @type = "date", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Dirección:</b></small>
                            @Html.TextBoxFor(x => x.NominaEmpleadosModel.DIRECCION_RESIDENCIA, new { @Id = "DireccionResidenciaNomina", Placeholder = "Digite direccion del usuario", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Teléfono:</b></small>
                            @Html.TextBoxFor(x => x.NominaEmpleadosModel.TELEFONO, new { @Id = "TelefonoNomina", Placeholder = "Digite # celular del usuario", @type = "number", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Autocomplete = "off" })
                        </div>
                        <div class="col-md-12">
                            <small><b>Estado:</b></small>
                            @Html.DropDownListFor(x => x.NominaEmpleadosModel.ESTADO, new List<SelectListItem>
                            {
                                    new SelectListItem() {Text = "-- SELECCIONE --", Value=""},
                                    new SelectListItem() {Text = "ACTIVO", Value="ACTIVO"},
                                    new SelectListItem() {Text = "INACTIVO", Value="INACTIVO"}
                            },
                 new { @Id = "EstadoNomina", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true })
                        </div>
                        <div class="col-md-12">
                            <small><b>Fecha Ultimo Pago / Ingreso:</b></small>
                            @Html.TextBoxFor(x => x.NominaEmpleadosModel.FECHA_PAGO, new { @Id = "FechaUltimoPagoNomina", Placeholder = "Seleccione la fecha de ingreso del empleado", @type = "date", @class = "form-control input-sm", @style = "max-width: 100% !important;", Value = "", Required = true, Autocomplete = "off" })
                        </div>
                        <br />
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Guardar" />
                        </div>
                        <br />
                    </div>
                }
            </div>
        }
    </div>

    @section Scripts{
        <script>
            var Resultado = '@TempData["Resultado"]';
            var Posicion = '@TempData["Posicion"]';
            var urlConsultaCedulaExistente = '@Url.Action("ConsultaCedulaExistente", "Configuracion")';
            var urlConsultaCodigoExistente = '@Url.Action("ConsultaCodigoExistente", "Configuracion")';

        </script>

        <script src="~/ScriptsViews/Configuracion/Configuraciones.js?1.0.16"></script>
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header" style="text-align: center;"><i class="fa fa-times"></i> No Autorizado </h1>
        </div>
        <div class="col-md-12">
            <h5 class="page-header" style="text-align: center;"> No tiene acceso a esta página </h5>
        </div>
        <br /><br /><br /><br /><br /><br />
    </div>
}

